Flask
requests
pandas
google-generativeai
google-ai-generativelanguage
langchain-google-genai
Jinja2
langchain
openai
langchain-community
langchain-openai
langchain-openai
langchain-google-genai
langchain-core
langchain-text-splitters
javalang

